<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Генерация актов выдачи/сдачи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

<div class="text-center" style="margin: 20px 0 20px">
    <header th:insert="~{Head :: copy}"></header>
</div>

<h2 style="text-align: center">Акт выдачи</h2>

<div class="cssClassEmpl h-100 d-flex align-items-center justify-content-center">
    <!--<form th:action="@{/area}" th:object="${allUsers}" method="post" target="/area"> для открытия в новой вкладке-->

    <form th:action="@{/inAct}" th:object="${allUsers}" method="post">

        <div class="row">
            <div class="col">
                <input class="form-control" type="text" list="Employee" name="fio" placeholder="Выбор сотрудника"/>
                <datalist id="Employee">
                    <select>
                        <option th:each="user : ${allUsers}"
                                th:text="${user.getFIO()+' '+user.getPROF_DESCR()+' '+user.getAREA_DESCR_SHORT()}">
                        </option>
                    </select>
                </datalist>
            </div>

            <div class="col">
                <input type="number" class="form-control" name="numAct"  placeholder="Номер акта">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="imei1"  placeholder="Imei 1">
            </div>

            <div class="col">
                <input type="text" class="form-control" name="imei2" placeholder="Imei 2">
            </div>
        </div>


        <div class="row">
            <button class="btn btn-success" value="Submit" type="submit">Генерация акта</button>
            <!--                    <input type="button" class="form-control" text="Генерация акта">-->
        </div>
    </form>
</div>

<hr style="width: 100%; margin-top: 10px; border-top: 5px solid black; opacity: 100%">

<h2 style="text-align: center">Акт сдачи</h2>


<div class="cssClassEmpl h-100 d-flex align-items-center justify-content-center">
    <!--<form th:action="@{/area}" th:object="${allUsers}" method="post" target="/area"> для открытия в новой вкладке-->

    <form th:action="@{/outAct}" th:object="${allUsers}" method="post">

        <div class="row">
            <div class="col">
                <input class="form-control" type="text" list="Employee" name="fio" placeholder="Выбор сотрудника"/>
                <datalist>
                    <select>
                        <option th:each="user : ${allUsers}"
                                th:text="${user.getFIO()+' '+user.getPROF_DESCR()+' '+user.getAREA_DESCR_SHORT()}">
                        </option>
                    </select>
                </datalist>
            </div>

            <div class="col">
                <input type="number" class="form-control" name="numAct"  placeholder="Номер акта">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="imei1"  placeholder="Imei 1">
            </div>

            <div class="col">
                <input type="text" class="form-control" name="imei2" placeholder="Imei 2">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input style="width: 425px" type="text" class="form-control" name="reason"  placeholder="Причина сдачи">
            </div>
        </div>

        <div class="row">
            <button class="btn btn-success" value="Submit" type="submit">Генерация акта</button>
            <!--                    <input type="button" class="form-control" text="Генерация акта">-->
        </div>
    </form>

</div>

</body>
</html>
